<h1>Cadastro de Cidades</h1>

<div>
  Nome: <input type="text" [(ngModel)]="newCity.name">
</div>

<div>
  Estado: <input type="text" [(ngModel)]="newCity.state">
</div>

<input type="button" value="Salvar" (click)="saveNewCity()">

<div *ngIf="cities.length > 0">
  <h2>Cidades cadastradas</h2>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        <td>{{ city.name }}</td>
        <td>{{ city.state | state }}</td>
      </tr>
    </tbody>
  </table>
</div>