<h1>Professor por Disciplina</h1>

<div>
  Curso: <input type="text" [(ngModel)]="newTeacher.course">
</div>
<div>
  Disciplina: <input type="text" [(ngModel)]="newTeacher.subject">
</div>
<div>
  Professor: <input type="text" [(ngModel)]="newTeacher.name">
</div>
<div>
  Ano: <input type="number" [(ngModel)]="newTeacher.year">
</div>
<div>
  Semestre: <input type="number" [(ngModel)]="newTeacher.semester">
</div>
<input type="button" value="Salvar" (click)="save()">

<div *ngIf="teachers.length > 0">
  <h2>Dados já cadastrados</h2>

  <table>
    <thead>
      <tr>
        <th>Curso</th>
        <th>Disciplina</th>
        <th>Professor</th>
        <th>Ano</th>
        <th>Semestre</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers">
        <td>{{ teacher.course }}</td>
        <td>{{ teacher.subject }}</td>
        <td>{{ teacher.name }}</td>
        <td>{{ teacher.year | year }}</td>
        <td>{{ teacher.semester }}</td>
        <td><input type="button" value="Edit" (click)="edit(teacher)"></td>
        <td><input type="button" value="Delete" (click)="delete(teacher)"></td>
      </tr>
    </tbody>
  </table>
</div>