h1 {
    text-align: center;
    color: #234abc;
}

div, input[type="button"] {
    margin-top: 10px;
}

table {
    margin-top: 25px;
    border-collapse: collapse;
    width: 500px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

p.error {
    background-color: #F36B6B;
    font-weight: bold;
}