<h1 class="text-center">Cadastro de Aulas</h1>

<form #courseForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="teacher">Professor</label>
      <select class="custom-select" [(ngModel)]="newSubject.teacher" #teacher="ngModel" id="teacher" name="teacher" required>
        <option *ngFor="let teacher of teachers" [ngValue]="teacher">
          {{ teacher.name }}
        </option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="course">Disciplina</label>
      <select class="custom-select" [(ngModel)]="newSubject.course" #course="ngModel" id="course" name="course" required>
        <option *ngFor="let course of courses" [ngValue]="course">
          {{ course.name }}
        </option>
      </select>
    </div>

  </div>

  <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
    <div *ngIf="name.errors.required">
      Campo "Nome" é obrigatório
    </div>
  </div>

  <div *ngIf="workload.invalid && workload.dirty" class="alert alert-danger">
    <div *ngIf="workload.errors.required">
      Campo "Carga Horária" é obrigatório
    </div>
  </div>

  <button type="button" (click)="save()" [disabled]="!courseForm.valid" class="btn btn-primary">
    Salvar
  </button>
</form>

<div>
  <h2 class="text-center">Cursos cadastrados</h2>

  <form class="form-inline float-right">
      <div class="form-group mx-sm-3 mb-2">
        <label for="filter" class="sr-onlsy">Buscar:</label>
        <input type="text" class="form-control" id="filter" name="filter" [(ngModel)]="filter">
      </div>
      <button type="submit" (click)="search()" class="btn btn-primary mb-2">Filtrar</button>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Carga Horária</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="courses.length == 0">
        <td colspan="4">Nenhum curso encontrado!</td>
      </tr>
      <tr *ngFor="let course of courses">
        <td>{{ course.name }}</td>
        <td>{{ course.workload }}</td>
        <td><input type="button" value="Editar" (click)="edit(course)"></td>
        <td><input type="button" value="Excluir" (click)="delete(course)"></td>
      </tr>
    </tbody>
  </table>
</div>