<h1>Cadastro de Alunos</h1>

<div>
  Nome: <input type="text" [(ngModel)]="newStudent.name">
</div>
<div>
  E-mail: <input type="text" [(ngModel)]="newStudent.email">
</div>
<div>
  CPF: <input type="text" [(ngModel)]="newStudent.cpf">
</div>
<div>
  Telefone: <input type="text" [(ngModel)]="newStudent.telephone">
</div>
<input type="button" value="Salvar" (click)="save()">

<div *ngIf="students.length > 0">
  <h2>Alunos Cadastrados</h2>
  
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>CPF</th>
        <th>Celular</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.cpf | cpf }}</td>
        <td>{{ student.telephone | telephone}}</td>
        <td><input type="button" (click)="edit(student)" value="Editar"></td>
        <td><input type="button" (click)="delete(student)" value="Excluir"></td>
      </tr>
    </tbody>
  </table>
</div>