<h1>Cadastro de aluno</h1>

<div>
  Nome: <input type="text" [(ngModel)]="student.name">
</div>

<div>
  Data Nascimento: <input type="date" [(ngModel)]="student.birthday">
</div>

<div>
  CPF: <input type="text" [(ngModel)]="student.cpf">
</div>

<div>
  Peso: <input type="number" [(ngModel)]="student.weight">
</div>

<div>
  Telefone: <input type="text" [(ngModel)]="student.telephone">
</div>

<input type="button" value="Add" (click)="addNewStudent()"> 


<h2>Alunos Cadastrados:</h2>
<ul>
  <li *ngFor="let stu of students" (click)="setSelectedStudent(stu)">
    {{ stu.name | uppercase }}
  </li>
</ul>

<app-student-detail [studentDetail]="currentStudent"></app-student-detail>