<h1>Cadastro de aluno</h1>

<div>
  Nome: <input type="text" [(ngModel)]="student.name">
</div>

<div>
  Data Nascimento: <input type="date" [(ngModel)]="student.birthday">
</div>

<div>
  CPF: <input type="text" [(ngModel)]="student.cpf">
</div>

<div>
  Peso: <input type="number" [(ngModel)]="student.weight">
</div>

<input type="button" value="Add" (click)="addNewStudent()"> 


<h2>Alunos Cadastrados:</h2>
<ul>
  <li *ngFor="let stu of students">
    {{ stu.name | uppercase }} -
    {{ stu.name | lowercase }}
    <ul>
      <li>{{ stu.cpf }}</li>
      <li>{{ stu.birthday }}</li>
      <li>{{ stu.birthday | date:"shortDate" }}</li>
      <li>{{ stu.birthday | date:"mediumDate" }}</li>
      <li>{{ stu.birthday | date:"longDate" }}</li>
      <li>{{ stu.birthday | date:"fullDate" }}</li>
      <li>{{ stu.birthday | date:"dd-MM-yyyy" }}</li>
      <li>{{ stu.weight }}</li>
      <li>{{ stu.weight | number:"3.2-4" }}</li>
    </ul>
  </li>
</ul>